<%= simple_form_for(@entry) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.select(:user_id, User.all.map {|user| [user.name, user.id]}) %>
    <%= f.input :contest_id %>
    <%= f.input :entryname %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>




