<h1>Listing entries</h1>

<p>You have <%= pluralize(@entries.count,'entry') %></p>

<div>
  <table class='table'>
    <thead>
      <tr>
        <th>Current Contests</th>
      </tr>
    </thead>
    <tbody>
      


</div>

<table class="table">
  <thead>
    <tr>
      <th>User</th>
      <th>Contest</th>
      <th>Entryname</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @entries.each do |entry| %>
      <tr>
        <td><%= entry.user_id %></td>
        <td><%= entry.contest_id %></td>
        <td><%= entry.entryname %></td>
        <td><%= link_to 'Show', entry %></td>
        <td><%= link_to 'Edit', edit_entry_path(entry) %></td>
        <td><%= link_to 'Destroy', entry, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Entry', new_entry_path %>
